

.profile-container {
    border-radius: 15px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #6c63ff;
    min-height: 80px;
    border: 1px solid #6c63ff;
    cursor: pointer;
    width: 150px;
  }
  
  .info-user {
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
  }
  
  .profile-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    margin-top: 15px;
  }
  
  .name-user {
    text-align: center;
    margin-top: 15px;
  }
  
  .name-user .name {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
  }
  
  .name-user .descrip {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
  }
  
  .bio-user {
    display: none;
    text-align: center;
    padding: 5px;
  }
  
  .bio-user .bio-info {
    color: #fff;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .bio-user .buttons-options {
    padding: 5px;
  }
  
  /* hover section */
  
  .profile-container:hover .info-user {
    background-color: #6c63ff;
    border-radius: 15px;
    color: #fff;
    min-height: 120px;
  }
  
  .profile-container:hover .profile-photo {
    display: none;
  }
  
  .profile-container:hover .bio-user {
    display: block;
  }
  
  /* media querys */
  @media (max-width: 1200px) {
    .profile-photo {
      width: 100px;
      height: 100px;
    }
  
    .profile-container {
      min-height: 200px;
    }
  
    .bio-info {
      display: none;
    }
  }
  
  @media (max-width: 575px) {
    .bio-info {
      display: block;
    }
  }
  
  .fake {
    background-color: #6c63ff;
    color: #fff;
    padding: 3px;
    border-radius: 10px;
    display: block;
    
  }

  .container2, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.landing-page .content .info button {
    border: 2px #fff;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
  }

  .landing-page .content .info button :hover{
    border: 2px #fff;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #000;
    background-color: #fff;
  }