* {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
    color: #5d5d5d;
    margin: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  button {
    font-size: 14px;
    background-color: #6c63ff;
    padding: 12px 26px;
    border-radius: 40px;
    width: auto;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);
  }
  
  textarea,
  input {
    border: 1px solid #6c63ff;
    background-image: none;
    background-color: #f3f3f3;
    box-shadow: none;
    font-size: 14px;
    padding: 16px;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.04);
  }
  
  input:hover,
  input:focus {
    border: 2px solid #4943b4;
    color: #4943b4;
  }
  
  .content {
    padding-top: 48px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 980px;
    justify-content: center;
  }
  .content .feedback-description {
    max-width: 310px;
    padding-bottom: 72px;
  }
  .content .feedback-description .subtitle {
    font-size: 16px;
  }
  .content .feedback-form {
    min-width: 280px;
    padding-left: 64px;
    display: flex;
    flex-direction: column;
  }
  .content .feedback-form * {
    margin-bottom: 16px;
  }
  .content .feedback-form button {
    align-self: flex-end;
  }
  
  @media screen and (max-width: 674px) {
    .content {
      flex-direction: column;
      align-items: center;
    }
    .content .feedback-form {
      padding-left: 0;
    }
  
    button {
      width: 100%;
    }
  }