/* Start Global Rules */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}
@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}
.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}
.landing-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}
@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.landing-page header .links {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}
.landing-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}
@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}
.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #6c63ff;
}
.landing-page header .links li:not(:last-child):hover {
  color: #6c63ff;
}
.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}
@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px 
  }
}
.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}
.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;
}
.landing-page .content .image img {
  max-width: 100%;
}
/* End Landing Page */

/* inicio modal ******************************************************/

.modal-box {
  font-family: 'Open Sans', sans-serif;
}

.modal-content{
  top: 15vh;
}


.show-modal:hover,
.show-modal:focus {
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  outline: none;
}

.modal-dialog {
  width: 400px;
  margin: 70px auto 0;
}

.modal-dialog {
  transform: scale(0.5);
}

.modal-dialog {
  transform: scale(1);
}

.modal-dialog .modal-content {
  text-align: center;
  border: none;
}

.modal-content .close {
  color: #fff;
  background: #ff6363;
  font-size: 25px;
  font-weight: 400;
  text-shadow: none;
  line-height: 27px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;
  position: absolute;
  left: auto;
  right: 8px;
  top: 8px;
  z-index: 1;
  transition: all 0.3s;
}

.modal-content .close:hover {
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.close:focus {
  outline: none;
}

.modal-body {
  padding: 60px 40px 40px !important;
}

.modal-body .title {
  color: #5d5d5d;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 10px;
}

.modal-body .description {
  color: #9A9EA9;
  font-size: 16px;
  margin: 0 0 20px;
}

.modal-body .form-group {
  text-align: left;
  margin-bottom: 20px;
  position: relative;
}

.modal-body .input-icon {
  color: #777;
  font-size: 18px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 20px;
}

.modal-body .form-control {
  font-size: 17px;
  height: 45px;
  width: 100%;
  padding: 6px 0 6px 50px;
  margin: 0 auto;
  border: 2px solid #eee;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
}

.form-control::placeholder {
  color: #AEAFB1;
}

.form-group.checkbox {
  width: 130px;
  margin-top: 0;
  display: inline-block;
}

.form-group.checkbox label {
  color: #9A9EA9;
  font-weight: normal;
}

.form-group.checkbox input[type=checkbox] {
  margin-left: 0;
}

.modal-body .forgot-pass {
  color: #7F7FD5;
  font-size: 13px;
  text-align: right;
  width: calc(100% - 135px);
  margin: 2px 0;
  display: inline-block;
  vertical-align: top;
  transition: all 0.3s ease 0s;
}

.forgot-pass:hover {
  color: #9A9EA9;
  text-decoration: underline;
}

.modal-content .modal-body .btn {
  color: #fff;
  background: #6c63ff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 38px;
  width: 35%;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 19px;
  margin-bottom: 15px;
  border: none;
  display: inline-block;
  transition: all 0.6s ease 0s;
}

.modal-content .modal-body .btn:hover {
  color: #fff;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content .modal-body .btn:focus {
  outline: none;
}

@media only screen and (max-width: 480px) {
  .modal-dialog {
      width: 95% !important;
  }

  .modal-content .modal-body {
      padding: 60px 20px 40px !important;
  }
}

h2{
  color: #5d5d5d;
  font-size: 25px;
  margin-top: 15px;
}